<?xml version="1.0"?>

<config>
    <modules>
        <Magazento_Colorbox>
            <version>1.0.0</version>
        </Magazento_Colorbox>
    </modules>
    <frontend>
        <layout>
            <updates>
                <colorbox>
                    <file>magazento_colorbox.xml</file>
                </colorbox>
            </updates>
        </layout>
<!--        <translate>
            <modules>
                <Magazento_Colorbox>
                    <files>
                        <default>Magazento_Colorbox.csv</default>
                    </files>
                </Magazento_Colorbox>
            </modules>
        </translate>-->
    </frontend>

    <global>
        <blocks>
            <colorbox>
                <class>Magazento_Colorbox_Block</class>
            </colorbox>
        </blocks>
        <models>
            <colorbox>
                <class>Magazento_Colorbox_Model</class>
            </colorbox>
        </models>
        <helpers>
            <colorbox>
                <class>Magazento_Colorbox_Helper</class>
            </colorbox>
        </helpers>
        <resources>
            <colorbox_setup>
                <setup>
                    <module>Magazento_Colorbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </colorbox_setup>
            <colorbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </colorbox_write>
            <colorbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </colorbox_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Magazento_Colorbox>
                    <files>
                        <default>Magazento_Colorbox.csv</default>
                    </files>
                </Magazento_Colorbox>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <colorbox translate="title" module="colorbox">
                                            <title>colorbox</title>
                                        </colorbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <magazento translate="title" module="colorbox">
                <title>Magazento</title>
                <sort_order>65</sort_order>
                <children>
                    <colorbox translate="title" module="colorbox">
                        <title>SexyBookmarks</title>
                        <sort_order>65</sort_order>
                        <children>
                            <slide translate="title" module="colorbox">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/colorbox</action>
                                <sort_order>40</sort_order>
                            </slide>
                        </children>
                    </colorbox>
                </children>
            </magazento>
        </menu>
    </adminhtml>
    <default>
        <colorbox>
            
            <dimensions>
                <width>false</width>
                <height>false</height>
                <innerwidth>false</innerwidth>
                <innerheight>false</innerheight>
                <initialwidth>false</initialwidth>
                <initialheight>false</initialheight>
                <maxwidth>false</maxwidth>
                <maxheight>false</maxheight>
            </dimensions>
            <settings>
                <enable>1</enable>
                <jquery>1</jquery>
                <skin>skin1</skin>
                <transition>elastic</transition>
                <speed>300</speed>
   
                <scalephotos>true</scalephotos>
                <scrolling>300</scrolling>
                <opacity>0.9</opacity>
                <open>false</open>
                <returnfocus>true</returnfocus>
                <overlayclose>false</overlayclose>
                <esckey>true</esckey>  
                <arrowkey>true</arrowkey>                
                <loop>true</loop>
            </settings>
            <internationalization>
                <current>image {current} of {total}</current>    
                <previous>previous</previous>    
                <next>next</next>    
                <close>close</close>    
            </internationalization>
            <slideshow>
                <slideshow>false</slideshow>    
                <slideshowauto>true</slideshowauto>    
                <slideshowspeed>2500</slideshowspeed>    
                <slideshowstart>start slideshow</slideshowstart>    
                <slideshowstop>stop slideshow</slideshowstop>    
            </slideshow>
                            
        </colorbox>
    </default>

</config>
