@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,a {
    margin:0;
    padding:0;
}
body{
    background:url(../images//mainbgr5.jpg) center 0 no-repeat #CE4CA5;
    background-attachment:fixed;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#525252;
}
img,a{
    border:0;
}
a{
    color:#525252;
    text-decoration:none;
}
h1 {text-transform:uppercase;}
a:hover{
    text-decoration:underline;
    color:#8a001a;
}
.container{
    width:980px;
    margin:0 auto;
}
.header{
    height:101px;
    position:relative;
}
.logo{
    position:absolute;
    left:50px;
    top:10px;
}
.loginBox{
    position:absolute;
    right:0;
    top:0;
    background:url(../images//login_box.png);
    width:322px;
    height:50px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px -3px 38px #4D4D4D inset;
}
.topContact{
    line-height:22px;
    padding-left:34px;
    height:24px;
}
.topContact span{
    color:#8a001a;
    font-weight:bold;
}
.topLogin{
    line-height:24px;
    padding-left:34px;
    height:24px;
}
.topLogin a{
    padding-right:15px;
}
.searchBox{
    margin-top:20px;
    box-shadow: 0px 0px 10px black inset;
    border-radius: 13px 13px 0 0;
    position:absolute;
    right:0;
    top:66px;
    background:url(../images//search_box.png);
    width:478px;
    height:35px;
    line-height:35px;
    font-size:11px;
}
.searchBox p{
    padding-left:38px;
}
.searchBox span{
    color:#8a001a;
    font-weight:bold;
}
.searchBox input{
    width:180px;
    height:19px;
    line-height:19px;
    background:url(../images//search_bgr.jpg) left no-repeat;
    border:none;
    font-size:11px;
    color:#767676;
}

/* Content Home */

.content{
    padding:2px;
   background-color:#F7EBF8;
    /*background:url(x.png) repeat-x top;*/
    /*border:1px solid #FFFFFF;*/
    box-shadow: 0px 0px 19px #000 inset;
    border-radius: 10px;
}
.navigation{
    margin-top:20px;
    margin-bottom:10px;
    border-radius:10px 0px 10px 10px;
    box-shadow: 0px 0px 10px #000 inset;
    height:45px;
    line-height:45px;
    background:url(../images//nav_bgr.jpg) repeat-x top;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#636363;
    text-transform:uppercase;
}
.navigation ul{
    list-style:none;
}
.navigation ul li{
    float:left;
}
.navigation ul li a{
    float:left;
    color:#636363;
    padding:0 25px 0 25px;
    text-shadow: 0px 1px 1px #fff;
}
.navigation ul li a:hover{
     box-shadow: 0px 0px 10px #000 inset;
    background:url(../images//nav_hover.jpg);
    color:#9A0039;
    text-decoration:none;
}
.navigation ul li a.firstElement:hover{
     box-shadow: 0px 0px 10px #000 inset;
    background:url(../images//nav_hover.jpg);
    color:#9A0039;
    text-decoration:none;
    border-radius:10px 0px 0 10px;
}

.navigation ul li a.active{
    background:url(../images//nav_hover.jpg);
    color:#9A0039;
    text-decoration:none;
    text-shadow: 0px 1px 1px #fff;
}
.slider_CelMaiVandut{
    margin:10px 10px 0px 9px;
    position:relative;
    width:100%;
}
.sliderContainer{
    width:739px;
    float:left;
    margin-right:9px;
}
.slider{
    border:1px solid #D0D0D8;
    width:737px;
    height:358px;
    background:url(../images//slider_img2.jpg) no-repeat left;
    font-weight:bold;
    font-size:13px;
    position:relative;
}
.slider p{
    font-weight:bold;
    font-size:13px;
    position:absolute;
    left:10px;
    top:90px;
    line-height:18px;
}
.slider h1{
    font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:uppercase;
    font-size:26px;
    font-weight:bold;
    position:absolute;
    left:10px;
    top:46px;
    color:#a60052;
    text-shadow: 0px 1px 1px #ababab;
}
.slider a img{
    padding-top:5px;
}
.slider span{
    color:#56022c;
}
.sliderNavigator{
    position:relative;
    background:url(../images//slider_selector.jpg);
    width:739px;
    height:22px;
    margin-top:4px;
}
.sliderArrows{
    position:absolute;
    left:6px;
    top:3px;
}
.sliderCircles{
    position:absolute;
    left:321px;
    top:3px;
}
.sliderNumbers{
    position:absolute;
    right:5px;
    top:3px;
}
.sliderNumbers a{
    width:18px;
    height:17px;
    background:url(../images//slider_nr_bgr.jpg) no-repeat;
    margin-left:5px;
    display:block;
    color:#942A7D;
    font-size:10px;
    text-align:center;
    float:left;
    line-height:15px;
}
.celMaiVandut{
    width:212px;
    height:387px;
    float:left;
    background:url(../images//celmaivandut_bgr.jpg) top no-repeat;
}
.celMaiVandut H1{
    padding-left: 9px;
    line-height: 29px;
    font-size: 11px;
    font-weight: bold;
}
.celMaiVandutBox{
    margin:5px 0 0 7px;
    border:1px solid #D0D0D8;
    position:relative;
    width:194px;
}
.celMaiVandutBox img{
    border:1px solid #fff;
    box-shadow: 0px 0px 25px black;
}
.celMaiVandutBox a{
    position:absolute;
    left:4px;
    bottom:2px;
    font-size:12px;
    font-weight:bold;
}
.clear{
    clear:both;
    visibility:hidden;
    height:0px;
}
.promotiiBox{
    margin:10px 0 2px 0;
}
.promotiiHeadline{
    background:url(../images//promotii_bgr.jpg) top no-repeat;
    width:960px;
    height:27px;
    margin:0 auto;
    position:relative;
}
.promotiiHeadline H1{
    padding-left:40px;
    line-height:27px;
    font-size:12px;
    font-weight:bold;
}
.promotiiHeadline a{
    position:absolute;
    right:25px;
    top:0;
    line-height:27px;
    font-size:12px;
}
.promotiiContainer{
    background:url(../images//promotii_container_bgr.jpg) top no-repeat;
    height:380px;
    width:960px;
    margin:0 auto;
}
.promotiiBoxContainer{
    width:221px;
    margin:0px 11px 0 11px;
    padding-top:5px;
    float:left;
}
.promotiiBoxContainer H2{
    font-size:12px;
    font-weight:bold;
    padding-left:4px;
}
.promotiiBoxContainer H2 a{
    font-size:12px;
    font-weight:bold;
}
.promotiiBoxContainerImgCont{
    margin:15px 0 7px 0;
    border:1px solid #D0D0D8;
    width:220px;
}
.promotiiBoxContainerImgCont img{
    border:1px solid #fff;
     box-shadow: 0px 0px 25px black;
}
.promotiiBoxContainerPriceDetail{
    position:relative;
    padding-left:8px;
}
.promotiiBoxContainerPriceDetail span{
    color:#8a001a;
    font-weight:bold;
    font-size:17px;
}
.promotiiBoxContainerPriceDetail a{
    position:absolute;
    left:96px; top:4px;
    width:125px;
    height:31px;
    background:url(../images//bttn_cumpar.jpg) top no-repeat;
    font-weight:bold;
    text-align:center;
    line-height:22px;
    color:#FFFFFF;
    text-shadow: 0px 1px 1px #6C6E6F;
}
.promotiiBoxContainerPriceDetail a:hover{
    background:url(../images//bttn_cumpar_o.jpg) top no-repeat;
    text-decoration:none !important;
}
.insidePageContent{
    margin:10px 0 1px 0;
    width:100%;
}

/* Product page */

.leftPart{
    width:212px;
    margin:0px 18px 5px 8px;
    float:left;
}
.menu{

}
.menu H1{
    display:block;
    width:175px;
    height:30px;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    padding-left:37px;
    background:url(../images//contact_headline_bgr.jpg) no-repeat;
}
.mainMenu{
    display:block;
    width:212px;
    min-height:200px;
    background:url(../images//menu_bgr.jpg) top no-repeat;
}
.mainMenu ul{
    list-style:none;
    width:210px;
    margin:0 1px 0 1px;
    color:#636363;
    padding-bottom:7px;
}
.mainMenu ul li{
    background:url(../images//menu1_bgr.png);
    width:210px;
    min-height:25px;*/
    line-height:14px;

}
.mainMenu ul li a.level-top{
    line-height: 33px;
    padding-left:24px;
    padding-top:10px;
}
.mainMenu a{
    font-size:14px;
    color:#636363;
}
.mainMenu a:hover{
    color:#fff !important;
    text-decoration:none !important;
}
.mainMenu ul li ul li:hover
{ width:179px;
    height:25px;
    line-height:12px;
    padding-left:31px;
    padding-top:7px;
    color:#fff !important;
    text-decoration:none !important;
    background:none;
    background:url(../images//submenu_active.png) no-repeat;
}
.mainMenu a.active{
    color:#9A0039;
    text-decoration:none;
}
.mainMenu ul ul{
    padding:0;
    margin:0;
    background:none;
    height:25px;
}
.mainMenu ul ul li{
    width:179px;
    height:25px;
    line-height:12px;
    padding-left:31px;
    padding-top:7px;
    background:none;
    background:url(../images//submenu_normal.png) no-repeat;
}
.mainMenu ul ul li.active{
    width:179px;
    height:25px;
    line-height:12px;
    padding-left:31px;
    padding-top:7px;
    color:#fff;
    text-decoration:none;
    background:none;
    background:url(../images//submenu_active.png) no-repeat;
}

.mainMenu ul ul li.active a{
    color:#fff;
}
.mainMenu ul ul li.active a:hover{
    color:#fff;
    text-decoration:none;
}
.mainMenu ul ul li a{
    font-size:12px;
    line-height:12px;

}
.menuFooter{
    width:212px;
    height:7px;
    background:url(../images//menu_footer.jpg) no-repeat;
}
.cosulMeu{
    margin-top:10px;
}
.cosulMeu H1{
    width:175px;
    height:29px;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    padding-left:37px;
    background:url(../images//contact_headline_bgr.jpg) no-repeat;
    text-shadow: 0px 1px 1px #fff;
}
.cosulMeuContainer{
    display:block;
    width:210px;
    border-bottom: 1px Solid #D8D8D8;
    border-left:  1px Solid #D8D8D8;
    border-right: 1px Solid #D8D8D8;
    border-radius: 0px 0px 5px 5px;
    background:url(../images//cosulmeu_bgr.jpg) top no-repeat;
    padding-bottom:25px;
}
.cosulMeuPret{
    padding:13px 0 0 70px;
    font-size:11px;
    font-weight:bold;
    height:71px;
    line-height:20px;
}
.cosulMeuPret span{
    color:#8a001a;
}
.cosulMeuProdus{
    margin:0 10px 0px 8px;
    padding-bottom:10px;
    font-size:11px;
    line-height:16px;
}
.cosulMeuProdus img{
    float:left;
    border:1px solid #D5D5DC;
    margin-right:9px;
}
.cosulMeuProdus span{
    display:block;
    font-size:11px;
    font-weight:bold;
    color:#8a001a;
}
.finalizareComanda{
    margin-left:28px;
}
.comparaProduse{
    margin-top:10px;
}
.comparaProduse H1{
    width:175px;
    height:29px;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    padding-left:37px;
    background:url(../images//leftboxheadline.jpg) no-repeat;
    text-shadow: 0px 1px 1px #fff;
}
.comparaProduseBgr{
    background:url(../images//compara_bgr.jpg) top no-repeat;
    height:144px;
    width:212px;
}
.comparaProduseImgs{
    padding:9px 5px 10px 5px;
    font-size:11px;
}
.comparaProduseImgs img{
    margin:12px 5px 10px 7px;
    float:left;
    border:1px solid #D5D5DC;
}
.comparaBttn{
    float:right;
    margin-right:10px;
    margin-top:14px;
    font-size:12px;
    font-weight:bold;
    color:#9A0039;
}
.Newsletter{
    margin-top:10px;
}
.Newsletter H1{
    width:183px;
    height:29px;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    padding-left:29px;
    background:url(../images//contact_headline_bgr.jpg) no-repeat;
    text-shadow: 0px 1px 1px #fff;
}
.NewsletterBgr{
    background:url(../images//newsletterbgr.jpg) top no-repeat;
    height:42px;
    width:212px;
}
.NewsletterBgr input{
    width:176px;
    height:21px;
    line-height:20px;
    background:url(../images//newsletterform_bgr.jpg) left no-repeat;
    border:none;
    font-size:11px;
    color:#767676;
    margin:9px 0 0 6px;
}
.contactBox{
    margin-top:10px;
}
.contactBox map{
    margin:0;
    padding:0;
}
.contactBox H1{
    width:175px;
    height:28px;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    padding-left:37px;
    background:url(../images//contact_headline_bgr.jpg) no-repeat;
    text-shadow: 0px 1px 1px #fff;
}



.cosulMeuFooter{
    width:212px;
    height:20px;
    background:url(../images//cosulmeu_footer.jpg) no-repeat;
}




.contentPart{
    width:731px;
    float:left;
}
.ordoneazaProduse{
    background:#F5E5EB;
    height:28px;
    width:730px;
    margin-bottom:18px;
    line-height:28px;
}
.ordoneazaProduse form{
    padding-left:17px;
    float:left;
}
.paginareSus{
    float:right;
    margin-right:17px;
}
.paginareSus a{
    font-size:13px;
    color:#636363;
    text-decoration:none;
    margin-left:7px;
    line-height:28px;
}
.paginareSus a:hover, .paginareSus a.active{
    font-size:13px;
    color:#9a0039;
    font-weight:bold;
    text-decoration:none;
}
.paginareSus img{
    position:relative;
    top:3px;
    padding:0 7px 0 7px;
}
.continutProduse{

}
.listareProdus{
    background:url(../images//listareproduse_bgr.jpg) top no-repeat;
    width:243px;
    height:370px;
    float:left;
}
.listareProdus H1{
    display:block;
    width:182px;
    height:33px;
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    margin:5px 50px 0 11px ;
}
.listareProdus H1 a{
    font-size:12px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
}
.listareProdusImgHolder{
    margin:12px 11px 8px 10px;

}
.listareProdusImgHolder img{
    border:1px solid #fff;
}
.paginareProduse img{
    position:relative;
    top:3px;
    padding:0 7px 0 7px;
}

.paginareProduse{
    background:#F5E5EB;
    height:28px;
    width:730px;
    margin-top:10px;
    text-align:center;
}
.paginareProduse a{
    font-size:13px;
    color:#636363;
    text-decoration:none;
    margin-left:7px;
    line-height:28px;
}
.paginareProduse a:hover, .paginareProduse a.active{
    font-size:13px;
    color:#9a0039;
    font-weight:bold;
    text-decoration:none;
}
.listareProdus p{
    font-size:17px;
    font-weight:bold;
    color:#8a001a;
    text-decoration:none;
    margin-left:10px;
    float:left;
}
.listareProdus a.cumpar{
    width:125px;
    height:31px;
    display:block;
    float:right;
    background:url(../images//bttn_cumpar.jpg) top no-repeat;
    font-weight:bold;
    text-align:center;
    line-height:22px;
    color:#FFFFFF;
    text-shadow: 0px 1px 1px #6C6E6F;
    margin-right:10px;
}
.listareProdus a.cumpar:hover{
    background:url(../images//bttn_cumpar_o.jpg) top no-repeat;
    text-decoration:none !important;
}

.contentPartINS{
    width:740px;
    float:left;
    margin-left:-7px;
}
.contentDetailPage{
    margin-bottom:13px;
}
.contentHeadline{
    background:url(../images//content_headline_bgr.jpg) left top no-repeat;
    width:699px;
    height:30px;
    line-height:30px;
    padding-left:41px;
    text-transform:uppercase;
    font-weight:bold;
}
.productDetailImgH{
    background:url(../images//proddetail_img_bgr.jpg) top no-repeat;
    float:left;
    width:409px;
    height:512px;
    position:relative;
}
.productDetailImgDiv{
    border:1px solid #D1D0D8;
    width:362px;
    height:418px;
    margin: 12px 0 0 20px;
}
.productDetailImgDiv img{
    border:1px solid #fff;
}
.productDetailThumb{
    position:absolute;
    bottom:4px;
    left:20px;
    height:57px;
}
.productDetailThumb img{
    border:1px solid #D1D0D8;
    margin-right:12px;
}
.productDetail{
    background:url(../images//proddetail_bgr.jpg) top no-repeat;
    float:left;
    width:331px;
    height:512px;
    position:relative;
}
.productDetail H1{
    display:block;
    font-size:14px;
    line-height:17px;
    font-weight:bold;
    color:#FFF;
    height:42px;
    width:258px;
    padding:6px 50px 0 23px;
}
.productDetail p{
    padding:18px 20px 0 19px;
    line-height:16px;
}

.productDetailContact{
    background:url(../images//proddetail_contact_bgr.jpg) top no-repeat;
    height:65px;
    width:409px;
    float:left;
}
.productDetailContact H3{
    line-height:25px;
    padding-left:43px;
    font-size:13px;
    font-weight:bold;
}
.productDetailContact H4{
    line-height:40px;
    padding-left:25px;
    font-size:20px;
    font-weight:bold;
    text-shadow: 0px 1px 1px #fff;
}
.productDetailGratuit{
    height:65px;
    width:331px;
    background-color:#FAC3EC;
    float:left;
}
.productDetailGratuit p{
    margin:5px 6px 0px 19px;
    float:left;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
}
.productDetailGratuit p img{
    border:1px solid #FFF;
}
.productDetailProductsList{
    margin:5px 0 0 6px;
}
.productDetail form{
    margin:10px 0 10px 19px;
    line-height:19px;
}
.detailPriceBttn{
    position:absolute;
    bottom:18px;
    left:19px;
}
.detailPriceBttn H3{
    font-size:17px;
    font-weight:bold;
    color:#8a001a;
    line-height:20px;
}
.detailPriceBttn H3 span{
    font-size:11px;
    font-weight:normal;
    color:#8a001a;
}
.detailBttn{
    position:absolute;
    bottom:21px;
    left:177px;
}
.detailBttn a{
    width:125px;
    height:31px;
    display:block;
    float:right;
    background:url(../images//bttn_cumparb.png) top no-repeat;
    font-weight:bold;
    text-align:center;
    line-height:22px;
    color:#FFFFFF;
    text-shadow: 0px 1px 1px #6C6E6F;
    margin-right:10px;
    behavior: url(PIE.htc);
}
.detailBttn a:hover{
    background:url(../images//bttn_cumparb_o.png) top no-repeat;
    text-decoration:none !important;
}
/* Footer */

.footer{
    border: 1px Solid #D8D8D8;
    margin:0 auto;
    height:140px;
    width:960px;
    line-height:30px;
    font-size:10px;
    text-align:left;
    color:#000;
    background:url(../images//footer_bgr.jpg) top no-repeat;
}
.footer a{
    font-size:11px;
    font-weight:bold;
    padding-right:25px;
    padding-left:30px;
    color:#8a001a;
}
.copyright{
    text-align:center;
    font-size:11px;
    color:#525252;
    line-height:24px;
}
.page-title {
    margin:40px;
    line-height:45px;
}
.page-title  .checkout-types
{
    list-style-type: none;
}
.loginContainer {
    background:url(../images//login_bg.png) ;

}
.containerlog
{
    width:400px;
    padding: 15px;

}
.containerlog p
{
    width:350px;
    margin-top:10px;
    margin-bottom:10px;
}
.middleContainer{

    height:300px;
}
.new-users{
    float:left;
}
.registered-users{
    float:left;

}
.form-list{list-style:none}
.page-title h1 {
    color: black;
    text-shadow: 2px 2px 5px #A8A8A8;
    behavior: url(PIE.htc);
}
.account-create
{
    padding:20px 20px 20px 70px;
    background-image: linear-gradient(bottom, rgb(235,148,180) 41%, rgb(230,133,185) 22%, rgb(245,191,215) 78%);
    background-image: -o-linear-gradient(bottom, rgb(235,148,180) 41%, rgb(230,133,185) 22%, rgb(245,191,215) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(235,148,180) 41%, rgb(230,133,185) 22%, rgb(245,191,215) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(235,148,180) 41%, rgb(230,133,185) 22%, rgb(245,191,215) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(235,148,180) 41%, rgb(230,133,185) 22%, rgb(245,191,215) 78%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.41, rgb(235,148,180)),
        color-stop(0.22, rgb(230,133,185)),
        color-stop(0.78, rgb(245,191,215))
        );
    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}

.account-create p
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.account-create label
{
    float:left;
    line-height:35px;
}

.account-create .input-box
{
    margin-left:135px;
}
.account-create .subscribe
{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.account-create .validation-advice
{
    color:Red;

    width: 200px;
    line-height: 9px;
}
.account-create .button
{


}
.account-create h2
{
    margin:20px 0;
}

.input-text
{
    margin:7px;
    box-shadow: 1px 1px 10px
        #555;
    border-radius: 5px;
    border: 1px Solid lightgray;
    width: 250px;
    height: 18px;
    behavior: url(PIE.htc);
}
.button
{
    border-radius: 6px;
    border: 1px Solid lightGrey;
    padding:3px 9px 3px 9px;
    color: #555555;
    margin:5px;
    background-image: linear-gradient(bottom, rgb(143,143,143) 3%, rgb(227,227,227) 74%);
    background-image: -o-linear-gradient(bottom, rgb(143,143,143) 3%, rgb(227,227,227) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(143,143,143) 3%, rgb(227,227,227) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(143,143,143) 3%, rgb(227,227,227) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(143,143,143) 3%, rgb(227,227,227) 74%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(143,143,143)),
        color-stop(0.74, rgb(227,227,227))
        );
    behavior: url(PIE.htc);
}
.button:hover
{
    border-radius: 6px;
    border: 1px Solid lightGrey;
    padding:3px 9px 3px 9px;
    color: #FFF;
    margin:5px;
    background-image: linear-gradient(bottom, rgb(66,66,66) 3%, rgb(173,166,173) 74%);
    background-image: -o-linear-gradient(bottom, rgb(66,66,66) 3%, rgb(173,166,173) 74%);
    background-image: -moz-linear-gradient(bottom, rgb(66,66,66) 3%, rgb(173,166,173) 74%);
    background-image: -webkit-linear-gradient(bottom, rgb(66,66,66) 3%, rgb(173,166,173) 74%);
    background-image: -ms-linear-gradient(bottom, rgb(66,66,66) 3%, rgb(173,166,173) 74%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(66,66,66)),
        color-stop(0.74, rgb(173,166,173))
        );
    behavior: url(PIE.htc);
}
.account-login
{
    padding: 20px;
    background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */

    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
.account-login  .validation-advice
{
    color:Red;
    float: right;
    width: 200px;
    line-height: 9px;
}
.account-login .required
{

}
.account-login .form-list .lbl
{
    float:left;
    line-height:35px;
}

.info
{
    color:white;
    font-size: 10px;
}
.account-login .submit
{
    margin-top:20px;
    margin-left:136px;
}
.account-login .form-list .input-text
{
    float:right;
}
/*.account-create .*/
.forgot-password-div
{
    padding: 20px;
    background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */

    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
.forgot-password-div .lbl
{
    float:left;
    line-height:35px;
}
.forgot-password-div p
{

    margin-top: 10px;
    margin-bottom: 10px;
}
.forgot-password-div .button
{
    margin-top: 20px;
    margin-left: 121px;
}
.my-account
{
    padding:20px;
    background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */

    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
.my-account p,.my-account h2,.my-account h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-account a
{
    color:#D8D8D8;
}
.my-account-nav
{

    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: -1px 1px 7px black;
    behavior: url(PIE.htc);
}
.my-account-nav li
{
    list-style-type: none;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:10px;
}
.my-account-nav li a,.my-account-nav li strong
{
    line-height:10px;
}
.my-account-nav li.last
{
    padding-bottom: 10px;
}
.my-account-nav li.current
{   Color:#555555;
    background-image: linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -o-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(230,170,216)),
        color-stop(0.8, rgb(255,227,251))
        );
    border-radius: 5px;
    box-shadow: -1px 1px 7px #D8D8D8;
    behavior: url(PIE.htc);
}
.my-account-nav li:hover
{
    Color:#555555 !important;
    background-image: linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -o-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(230,170,216) 0%, rgb(255,227,251) 80%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(230,170,216)),
        color-stop(0.8, rgb(255,227,251))
        );
    border-radius:5px;
    box-shadow: -1px 1px 7px #D8D8D8;
    behavior: url(PIE.htc);
}
.my-account-nav li a:hover
{
    color:#555555;
    text-decoration: none;
}
.my-account .required
{

}

.my-account .control input
{
    margin-left: 7px;
}
.my-account .control label
{
    float:none;
    margin-left: 4px;
}
.my-account .input-box
{
    margin-left:150px;
}
.my-account label
{
    float: left;
}
.my-account .lbl
{
    line-height: 35px;
}
.my-account .validation-advice
{
    color:Red;
}
.my-account .select-reg
{
    margin-left: 7px;
    margin-top: 5px;
}
.my-account .select-country
{
    margin-left:137px;
    margin-top:10px;
}
.a-center .input-text
{
    width:50px !important;
}
.cart-prod-name
{
    width:430px;
}

.cart
{
    padding:20px;
    background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */

    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
li{
    list-style-type: none;
}
.cart .page-title .checkout-types
{
    margin-left: 600px;
}
.cart .page-title form
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart-table
{
    text-align: center;
}
.discount
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.discount h2
{
    padding:10px;
}
.discount .discount-form label
{
    margin-left: 10px;
}
.shipping-form
{
    padding-bottom: 10px;
    padding-top: 10px;
}
.shipping-form li label
{
    float:left;
    margin-right: 15px;
}
.shipping-form li{
    padding-top:10px;
    padding-bottom: 10px;
}
.shipping-form li .input-box
{
    padding-left: 110px;
}
.shipping-form li .input-box select
{

}
.shipping-form li .input-box .input-text
{
    margin: 0px !important;
}
.cart .totals
{
    margin-left: 660px;

}
.cart .totals .checkout-types a
{
}
.opc
{
    padding:20px;
    background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */

    margin: 30px;
    box-shadow: 1px 1px 16px black;
    border-radius: 10px;
    behavior: url(PIE.htc);
}
.step-title fieldset
{border-color: none !important;}

#checkoutSteps li
{

}
.step-title span
{
    float:left;
    margin-right:5px;
    font-size: 14px ;
    line-height: 21px;
}
.step-title
{

    padding-bottom: 30px;
    padding-top:15px;
    clear: both;

}
.step-title h2
{
    float: left;

}
.step-title a
{
    float: right;
    padding-left:  50px;
    line-height: 21px;
    color:#555;
}
.account-create-div label
{
    float: left;
    line-height:30px;
}

#checkoutSteps .input-box
{
    margin-left: 100px;
}
.fields
{
    display: block;
}
.field label
{
    float:left;
    line-height: 30px;
}
.wide label
{
    float:left;
}
#checkoutSteps .input-box select
{
    margin: 10px;
}
.box-content p
{
    padding:1px;
}

#co-billing-form ul.form-list li.control
{
    margin-top: 5px;
    margin-bottom: 10px;
}
#checkout-progress-wrapper
{
      background: #ed8bc7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkOGJjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2VmYzRlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVkZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ed8bc7 0%, #efc4ec 59%, #ffedfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ed8bc7), color-stop(59%,#efc4ec), color-stop(100%,#ffedfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* IE10+ */
    background: linear-gradient(left,  #ed8bc7 0%,#efc4ec 59%,#ffedfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8bc7', endColorstr='#ffedfc',GradientType=1 ); /* IE6-8 */
    border-radius: 10px;
    box-shadow: 1px 1px 16px black;
    padding:10px;
}
.validation-advice
{
    color:#FFF;
    margin-left: 10px;
}
#checkout-progress-wrapper .block-content dt
{
    padding:5px;
}
#checkout-progress-wrapper .block-content dd address
{
    padding:5px;
}
#billing-new-address-form .wide label
{
    line-height:30px;
}
.sp-methods
{
    padding:10px;
}
.sp-methods dt
{
    margin-top: 10px;

}
.sp-methods dd
{
    margin-top: 10px;

}
.ccsave label
{
    float:left;
    line-height:30px;
}
.ccsave .input-box
{
    margin-left:180px !important;
}
#checkout-review-table  td.a-right span.price
{
    float: right;
    margin-right: 16px;
}
#my-orders-table td
{
    text-align: center;
}
#my-orders-table td.last span.nobr a
{
    color:#942323;
}



/********** < Navigation */
/* 2nd Level */
#nav ul,
#nav div { display:none; position:absolute;top:45px;z-index:500;width:250px;left:0px;border-radius: 10px; }
#nav ul .level0 {width:300px;}
#nav div ul { position:absolute;top:36px; width:auto; border:none; }
#nav li.parent {position: relative;}
li.level-0  ul.level-0 { position:absolute;top:36px;}

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; }

#nav ul li a {  background:url('../images/nav_bgr.jpg') repeat-x top;box-shadow: 0px 0px 10px #000 inset;}
#nav ul li a:hover { background: url("../images//nav_hover.jpg") repeat scroll 0 0 transparent;}
#nav ul li a,
#nav ul li a:hover { color:#2f2f2f !important;width:250px; }
#nav ul span,
#nav ul li.last li span { padding:3px 15px 4px 15px; }
#nav li.over a.over {background: url("../images//nav_hover.jpg") repeat scroll 0 0 transparent;box-shadow: 0px 0px 10px #000 inset;}
#nav .level0 li.last a{ border-radius:0px 0px 10px 10px;}

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { display:block }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */
.product-image img {
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px black;
}
.more-views {margin-top: 67px;}
.more-views li {float:left;margin-right:10px;}
.listareProdusImgHolder a img {margin:0 !important;}
#slider_items {box-shadow: 0px 0px 25px black;}
.homeContentEdit
{
    border: 1px Solid #D8D8D8;
    margin-left: 7px;
    background-color: white;
    overflow-y: scroll;
    padding: 30px;
    height: 190px;
    margin-right: 10px;
    margin-bottom: 10px;
}