<?xml version="1.0"?>
<!--
/**
 * @category   MagentoPycho
 * @package    MagentoPycho_Lightboxes
 * @author     magepsycho@gmail.com
 * @website    http://www.magepsycho.com
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <MagentoPycho_Lightboxes>
            <version>1.2.0</version>
        </MagentoPycho_Lightboxes>
    </modules>
    <global>
        <models>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Model</class>
            </lightboxes>
        </models>
        <blocks>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Block</class>
            </lightboxes>
        </blocks>
        <helpers>
            <lightboxes>
                <class>MagentoPycho_Lightboxes_Helper</class>
            </lightboxes>
        </helpers>
    </global>
    <frontend>
        <routers>
            <lightboxes>
                <use>standard</use>
                <args>
                    <module>MagentoPycho_Lightboxes</module>
                    <frontName>lightboxes</frontName>
                </args>
            </lightboxes>
        </routers>
        <layout>
			<updates>
				<lightboxes>
					<file>lightboxes.xml</file>
				</lightboxes>
			</updates>
		</layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magepychoinfo>
											<title>MagePsycho - All</title>
										</magepychoinfo>
                                        <lightboxes>
                                            <title>jQuery Lightboxes</title>
                                        </lightboxes>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <lightboxes>
            <option>
				<active>1</active>
				<enable_log>1</enable_log>
                <include_jquery>1</include_jquery>
                <lightbox_type>fancybox</lightbox_type>
				<disable_zoombar>1</disable_zoombar>
				<include_mainimage_in_lightbox>1</include_mainimage_in_lightbox>
				<more_views_label>More Views</more_views_label>
            </option>
			<lightboxes_confliction>
				<include_jquery>1</include_jquery>
				<include_jquery_from>local</include_jquery_from>
				<include_jquery_in>head</include_jquery_in>
				<include_lighboxes_in>head</include_lighboxes_in>
				<include_initialization_in>media</include_initialization_in>
				<include_globally>0</include_globally>
			</lightboxes_confliction>
            <fancybox>
                <padding>10</padding>
                <margin>40</margin>
				<opacity>1</opacity>
                <scrolling>auto</scrolling>
                <autoScale>1</autoScale>
                <titlePosition>outside</titlePosition>
                <transitionIn>elastic</transitionIn>
                <transitionOut>elastic</transitionOut>
                <!--<easingIn>easeOutBack</easingIn>
                <easingOut>easeInBack</easingOut>-->
                <hideOnOverlayClick>1</hideOnOverlayClick>
                <overlayShow>1</overlayShow>
                <overlayOpacity>0.7</overlayOpacity>
                <overlayColor>#777</overlayColor>
                <titleShow>1</titleShow>
				<speedIn>500</speedIn>
				<speedOut>500</speedOut>
				<changeSpeed>300</changeSpeed>
                <showCloseButton>1</showCloseButton>
                <showNavArrows>1</showNavArrows>
                <enableEscapeButton>1</enableEscapeButton>
            </fancybox>
            <lightboxclone>
                <overlayBgColor>#000</overlayBgColor>
                <overlayOpacity>0.8</overlayOpacity>
                <containerBorderSize>10</containerBorderSize>
                <containerResizeSpeed>400</containerResizeSpeed>
                <txtImage>Image</txtImage>
                <txtOf>of</txtOf>
            </lightboxclone>
            <pirobox>
                <theme>demo4</theme>
                <my_speed>300</my_speed>
                <bg_alpha>0.5</bg_alpha>
                <slideShow>1</slideShow>
                <slideSpeed>3</slideSpeed>
            </pirobox>
			<piroboxextended>
                <style>style_1</style>
                <piro_speed>700</piro_speed>
                <bg_alpha>0.5</bg_alpha>
                <piro_scroll>1</piro_scroll>
            </piroboxextended>
			<prettyphoto>
                <animation_speed>fast</animation_speed>
                <slideshow>5000</slideshow>
                <autoplay_slideshow>0</autoplay_slideshow>
                <opacity>0.8</opacity>
                <show_title>1</show_title>
                <allow_resize>1</allow_resize>
                <default_width>500</default_width>
                <default_height>344</default_height>
                <counter_separator_label>/</counter_separator_label>
                <theme>pp_default</theme>
                <horizontal_padding>20</horizontal_padding>
                <hideflash>0</hideflash>
                <modal>0</modal>
                <overlay_gallery>1</overlay_gallery>
                <social_tools>0</social_tools>
            </prettyphoto>
        </lightboxes>
    </default>
</config>